@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body{
  background-color: rgb(150,150,150);
}

header{
  background-color: rgba(130, 130, 130, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px ;
}

li,a, button{
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  flex: 0.8;
}

.nav_l{
  flex: 3;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav_l li{
  display: inline-block;
}

.nav_l li a{
  transition: all 0.3s ease 0s;
}

.nav_l li a:hover{
  color: lightgrey;
}

.nav_l_ico{
  flex: 1;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav_l_ico li{
  display: inline-block;
  padding: 0 10%;
}

.nav_l_ico li a{
  transition: all 0.5s ease;
}

.nav_l_ico li a:hover{
  color: black;
}



/* Background animation section */
/* https://frontendscript.com/css-background-image-slideshow-fade/ */
.crossfade > figure {
  animation: imageAnimation 60s linear infinite 0s;
  background-size: cover;
  background-position: center;

  height: 100vh;
  width: 100vw;
  /* to keep it in the top left corner*/
  position: absolute;
  left: 0;
  top: 0;
  /* **** */
  opacity: 0;
  z-index: -1;
}

.crossfade > figure:nth-child(1) {
  background-image: url('/static/images/img_01.jpg');
}
.crossfade > figure:nth-child(2) {
  animation-delay: 12s;
  background-image: url('/static/images/img_02.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 24s;
  background-image: url('/static/images/img_03.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 36s;
  background-image: url('/static/images/img_04.jpg');
}
.crossfade > figure:nth-child(5) {
  animation-delay: 48s;
  background-image: url('/static/images/img_05.jpg');
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  3% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  25% {
    opacity: 1
  }
  80% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}
/* Background animation section END */
