{% extends "head.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="static/styles/main.css">
{% endblock %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% block content %}
<div>
    <form class="searchbar">
      {% csrf_token %}
      <input type="search" autocomplete="off" name="movieTitle" id="movieTitle" placeholder="Movie title" required minlength="3">
      <input type="submit" id="submit" value="submit" class="submit">
      <div class="dropdown">
        </div>
    </form>
</div>

<div class="gallery">
  <h2>TOP 5 MOVIES</h2>
    <section class="gallerySlideShow">
        {% for file in context.items %}
        <a href="/{{file.1.title}}"><img class="galleryImage" src="{{file.1.cover}}" alt="{{file.1.title}}"></a>
        {% endfor %}
    </section>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="static/javascript/buttons.js"></script>
{% endblock %}
